<div style="height:50px;"></div>

<div class="col-md-3 col-md-offset-4">
	<div class="panel panel-default">
	  <div class="panel-body">
      <form>
        <fieldset>
          <div class="form-group">
            <label> Brand </label>
            <input type="text" [(ngModel)]="newPhone.brand" name="brand" required />
          </div>
          <div class="form-group">
            <label> Name </label>
            <input type="text" [(ngModel)]="newPhone.name" name="name" required />
          </div>
          <div class="form-group">
            <label> Specs </label>
            <input type="text" #spec />&nbsp;&nbsp;<button  class="btn btn-primary" (click)="addSpec(spec.value); spec.value = ''"> add </button>
          </div>
          <div class="form-group">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let spec of newPhone.specs"> {{ spec }} </li>
                </ul>
                <small *ngIf="!newPhone.specs.length"> This phone has no specs :( </small>
          </div>
          <div class="form-group">
              <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
          </div>
        </fieldset>
        <button (click)="submit()" class="btn btn-primary btn-block"> Submit </button>
      </form>
        <br><br><p  id="feedback"> {{ feedback }} </p>
        <a routerLink="/phone"><u>Go back to the list of phones</u></a>
	  </div>
	</div>
</div>
