
<div class="container">


<tabset>

  <tab heading="Phone details">

    <div *ngIf="phone">
      <div class="row top-spacing">
        <div class="col-md-4">
          <div class="phone-thumbnail">
            <img height="300" style="margin:0 auto;" [src]="phone.image" />
          </div>
        </div>

        <div class="col-md-8">
          <div class="phone-info">
            <h2> {{ phone.name }}&nbsp;</h2>
            <h3> {{ phone.brand }} </h3>

            <div *ngIf="phone.specs.length">
              <h4> Features </h4>
              <ul>
                <li *ngFor="let spec of phone.specs"> {{ spec&nbsp;}} </li>
              </ul>
              <br>
              <button class="btn btn-danger" (click)="deletePhone()"> Delete </button>
            </div>
          </div>
        </div>
      </div>



    </div>

  </tab>

  <tab heading="Edit phone">
    <h1>EDIT PHONE</h1>
  </tab>

</tabset>


</div>
